@import 'colors';

:root {
  /* Colors Aplha */
  --clr-white-alpha-950: #ffffff;
  --clr-white-alpha-900: #ffffffe6;
  --clr-white-alpha-800: #ffffffcf;
  --clr-white-alpha-700: #ffffffb5;
  --clr-white-alpha-600: #ffffff9e;
  --clr-white-alpha-500: #ffffff85;
  --clr-white-alpha-400: #ffffff6e;
  --clr-white-alpha-300: #ffffff54;
  --clr-white-alpha-200: #ffffff3d;
  --clr-white-alpha-100: #ffffff26;
  --clr-white-alpha-50: #ffffff0d;

  --clr-black-alpha-950: #000000;
  --clr-black-alpha-900: #000000e6;
  --clr-black-alpha-800: #000000cf;
  --clr-black-alpha-700: #000000b5;
  --clr-black-alpha-600: #0000009e;
  --clr-black-alpha-500: #00000085;
  --clr-black-alpha-400: #0000006e;
  --clr-black-alpha-300: #00000054;
  --clr-black-alpha-200: #0000003d;
  --clr-black-alpha-100: #00000026;
  --clr-black-alpha-50: #0000000d;

  --clr-red-alpha-950: #ff4c4c;
  --clr-red-alpha-900: #ff4c4ce6;
  --clr-red-alpha-800: #ff4c4ccf;
  --clr-red-alpha-700: #ff4c4cb5;
  --clr-red-alpha-600: #ff4c4c9e;
  --clr-red-alpha-500: #ff4c4c85;
  --clr-red-alpha-400: #ff4c4c6e;
  --clr-red-alpha-300: #ff4c4c54;
  --clr-red-alpha-200: #ff4c4c3d;
  --clr-red-alpha-100: #ff4c4c26;
  --clr-red-alpha-50: #ff4c4c0d;

  --clr-green-alpha-950: #4dda6e;
  --clr-green-alpha-900: #4dda6ee6;
  --clr-green-alpha-800: #4dda6ecf;
  --clr-green-alpha-700: #4dda6eb5;
  --clr-green-alpha-600: #4dda6e9e;
  --clr-green-alpha-500: #4dda6e85;
  --clr-green-alpha-400: #4dda6e6e;
  --clr-green-alpha-300: #4dda6e54;
  --clr-green-alpha-200: #4dda6e3d;
  --clr-green-alpha-100: #4dda6e26;
  --clr-green-alpha-50: #4dda6e0d;

  --clr-blue-alpha-950: #4cacff;
  --clr-blue-alpha-900: #4cacffe6;
  --clr-blue-alpha-800: #4cacffcf;
  --clr-blue-alpha-700: #4cacffb5;
  --clr-blue-alpha-600: #4cacff9e;
  --clr-blue-alpha-500: #4cacff85;
  --clr-blue-alpha-400: #4cacff6e;
  --clr-blue-alpha-300: #4cacff54;
  --clr-blue-alpha-200: #4cacff3d;
  --clr-blue-alpha-100: #4cacff26;
  --clr-blue-alpha-50: #4cacff0d;

  @media (prefers-color-scheme: light) {
    @include colors-light();
  }

  @media (prefers-color-scheme: dark) {
    @include colors-dark();
  }
}

:root[data-theme='light'] {
  @include colors-light();
}

:root[data-theme='dark'] {
  @include colors-dark();
}
